<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/core.css">
    <title>Netflix - <%= title %>
    </title>
</head>

<body>
    <main>
        <section class="movie">
            <article class="movie__detail">
                <h2 class="card__title">
                    <%= title %>
                </h2>
                <p class="card__description">
                    <%= gender %>
                </p>
                <img class="card__img" src="<%= image %>" alt="<%= title %>">
            </article>
        </section>
    </main>
</body>

</html>